{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/dashboard/dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/dashboard/livre.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/dashboard/ajouter.css' %}"/>
    
    <link
      rel="stylesheet"
      href="{% static 'style/fontawesome-free-6.5.2-web/css/all.min.css' %}"/>
    <div class="countainer">
      <nav class="sidebar closed" >
        <div class="close">

          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="logo">
          <h3>AdminDash</h3>
        </div>

        <ul class="listDash">
          <li>
            <a href="#" class="">
              <i class="fa-solid fa-sm fa-gauge-high"></i>dashboard</a>
          </li>
          <li>
            <a href="#">
              <!--<i class="fa-solid fa-address-card fa-sm"></i> Profile</a
            >-->
          </li>
          <li>
            <a href="{% url 'users_lists' %}"> <i class="fa-solid fa-user fa-sm"></i> Users</a>
          </li>
          <li>
            <a href="{% url 'liste_livres' %}" class="active"> <i class="fa-solid fa-sm fa-book"></i> Livres</a>
          </li>
        </ul>
        <ul class="listDash2">
          <li>
            <a href="{% url 'logout_user' %}">
  
              <i class="fa-solid fa-right-to-bracket fa-sm"></i> Logout</a
            >
          </li>
          <li>
           <!-- <a href="#"> <i class="fa-solid fa-gear fa-sm"></i> Setting</a>-->
          </li>
        </ul>
      </nav>
      <div class="main">
        <div>
          <div class="header">
            <div class="location open" >
              <i class="fa-solid fa-bars"></i>
              {% if livres %}
              <h2>Livres</h2>
              {% endif%}
              {% if users %}
              <h2>Users</h2>
              {% endif%}
            </div>
            <div class="right">
              <div class="search_container">
                <form method="post"  action="{% url 'rechercher_livre' %}" >
                  {% csrf_token %}
                  <input type="text" name='titre' class="sarch" placeholder="search..">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512 " class="searchIcon">
                       <path fill="#bdbdbd" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                      </svg><!--Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path fill="#bdbdbd" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                  <button type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512 " class="searchIcon">
                      <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path fill="#bdbdbd" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </button>
                </form >
              </div>
              <span>
                <img src="{% static 'img/2023MayFri.jpg' %}" alt="inconnu" />
              </span>
            </div>
          </div>
          <!--Liste Livres-->
          
          <div class="content">
          {% if livres %}
           <div class="ajouter">
            <a href="{% url 'page_ajout' %}">ajouter Livre   <i class="fa-solid fa-plus"></i></a>
          
           </div>
           
           
            <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th>Id</th>
                  <th>ISBN</th>
                  <th>Nom Livre</th>
                  <th>Auteur</th>
                  <th>nb exemplaire</th>
                  <th>disppnible</th>
                  <th>action</th>
                  
                </tr>
                {% for livre in livres %}
                <tr>
                  <td>{{livre.id}}</td>
                  <td>{{livre.ISBN}}</td>
                  <td>{{livre.titre}}</td>
                  <td>{{livre.auteur}}</td>
                  <td>{{ livre.get_NbrExemple }}</td>
                  {% if livre.exemplaires_livre.count > 1 %}
                  <td class="etat"> <span class="true">true</span></td>
                  {% else %}
                  <td class="etat"> <span class="false">false</span>    </td>
                  {% endif %}
                  <td class="action">
                    <a href="{% url 'ajouter_exemplaire' livre.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'supprimer_exemplaire' livre.id %}"><i class="fa-solid fa-trash"></i></a>
                    <a href="{% url 'detailLivre' livre.id %}"> <i class="fa-solid fa-eye"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div> 
          {% endif %}
            <!--Liste Users-->
          {% if users %}
            <div class="content">  
            <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th>Usernames</th>
                  <th>Email</th>
                  <th>Est_bibliothecaire</th>
                  <th>Nb Emprunts</th>
                  <th>Action</th>
                  
                </tr>
                {% for u in users %}
                <tr>
                  
                  <td>{{u.username}}</td>
                  <td>{{u.email}}</td>
                  {% if u.est_bibliothecaire %}
                    <td class="etat"> <span class="true">true</span>
                  {% else %}
                    <td class="etat"> <span class="false">false</span>
                  {% endif %}
                  <td>{{ u.emprunter_set.count }}</td>
                  <td class="action">
                  <!--  <a href=""><i class="fa-solid fa-pen-to-square"></i> -->
                    <a href="{% url  'delete_user' u.username %}"><i class="fa-solid fa-trash"></i></a>
                  <!--  <a><i class="fa-solid fa-eye"></i></a> -->
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>    
          {% endif %} 
          </div>
        </div>
      </div>
    </div>
    {% if message %}
    {{message}}
    {% endif %}
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}
