
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
    <link rel="stylesheet" href="{% static 'style/global.css' %}">
    
<div class="parentform">
    <div class="containerform">
        <form method="post" action="{% url 'forgot_password' %}">
            {% if error %}<center style="color:red">{{error}}</center>{% endif %}
            {% csrf_token %}
            <h1>Recuperer mot de passe</h1>

            <input type="text" name="email"  class="email inputform" placeholder="email">
      
          
            <button class="btnform">Recherche</button>
        </form>
        <div class="imgcontainer">
            <img src="{% static 'img/3afb3c491fbec34c7419f1264faf414b.jpg' %}" alt="">
        </div>
    </div>

</div>
{% endblock %}