<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/global.css" />
    <link rel="stylesheet" href="./style/home.css" />
    <link rel="stylesheet" href="./style/fontawesome-free-6.5.2-web/css/all.min.css">
  </head>
  <body>
    <div class="phonenav ">
       <div class="xmark"> <i class="fa-solid fa-xmark fa-xl"></i></div>
        <ul class="phonelink">
            <li>Livres</li>
            <li>Categories</li>
            <li>About Us</li>
            <li>Contact</li>
         
         <span>
            <li class=" form loginnav">Login</li>
            <li class="form active">Register</li>
         </span>
          
          </ul>
    </div>
    <div class="container">
      <header class="homeHeader">
        <div class="blur"></div>
        <nav class="laptopNav">
          <h1>Logo</h1>

          <ul class="link">
            <li>Livres</li>
            <li>Categories</li>
            <li>About Us</li>
            <li>Contact</li>
          </ul>
          <ul class="formLink">
            <li class="loginList">Login</li>
            <li class="loginList active">Register</li>
          </ul>

          <div class="burger">
            <i class="fa-solid fa-xl fa-bars-staggered"></i>
            
          </div>
       
        </nav>
      </header>

      <div class="main">
        <div class="sidebar">
            <div class="search_container">
                <input type="text" class="sarch" placeholder="search..">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512 " class="searchIcon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#bdbdbd" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            </div>
            <ul>
                <li> <a href="#" class="active">All</a> </li>
                <li> <a href="#">action</a> </li>
                <li> <a href="#">aventure</a> </li>
                <li> <a href="#">Fatasy</a> </li>
                <li> <a href="#">Sport</a> </li>
                <li> <a href="#">Social</a> </li>
                <li> <a href="#">culture</a> </li>
            </ul>
        </div>

        <div class="content">
            
        
        <div class="livre">
            <div class="imgcontainer">
                <img src="./img/poster1.jpg" alt="">
  
            </div>
            <div class="info">
                <h4>Name Of book</h4>
                <p>action</p>
                <!-- <p> Nb exemplaire10</p> -->

                <div>
                    <a href="" class="btn">Detaile</a>
                
                </div>
              


            </div>

        </div>
      
        <div class="livre">
            <div class="imgcontainer">
                <img src="./img/poster2.jpg" alt="">

            </div>
            <div class="info">
                <h4>Name Of book</h4>
                <p>action</p>
                <!-- <p> Nb exemplaire : 10</p> -->

                <div>
                    <a href="" class="btn">Detaile</a>
                    
                </div>
              


            </div>

        </div>

        <div class="livre">
            <div class="imgcontainer">
                <img src="./img/poster3.jpg" alt="">

            </div>
            <div class="info">
                <h4>Name Of book</h4>
                <p>action</p>
                <!-- <p> Nb exemplaire : 10</p> -->

                <div>
                    <a href="" class="btn">Detaile</a>
                    
                </div>
              


            </div>

        </div>

        <div class="livre">
            <div class="imgcontainer">
                <img src="./img/poster1.jpg" alt="">

            </div>
            <div class="info">
                <h4>Name Of book</h4>
                <p>action</p>
                <!-- <p> Nb exemplaire : 10</p> -->

                <div>
                    <a href="" class="btn">Detaile</a>
                    
                </div>
              


            </div>

        </div>
        <div class="livre">
            <div class="imgcontainer">
                <img src="./img/poster2.jpg" alt="">

            </div>
            <div class="info">
                <h4>Name Of book</h4>
                <p>action</p>
                <!-- <p> Nb exemplaire : 10</p> -->

                <div>
                    <a href="" class="btn">Detaile</a>
                    
                </div>
              


            </div>

        </div> 
        </div>
      </div>
    </div>

    <script src="./js/scripts.js"></script>
  </body>
</html>
