<header class="homeHeader">
    <div class="blur"></div>
    <nav class="laptopNav">
        <h1>Logo</h1>
        <ul class="link">
             <a class="" href="{% url 'home' %}">
                <li {% if request.path == '/' or 'genre' in request.path%} class="active"{% endif %}>Home</li>
            
            </a>
            {% if user.is_authenticated %}
                {% if user.est_bibliothecaire %}
                    <a href="{% url 'liste_livres' %}">
                        <li>Livres</li>
                    </a>
                {% endif %}
            {% endif %}
            <a class="" href="">
                <li class="">About us 
               </li>

            <a class="" href="">
                <li class="">Contact us 
               </li>
           
           </a>
          
       
     
        </ul>
        <ul class="formLink">
            {% if user.is_authenticated %}
                <a href="{% url 'logout_user' %}">
                    <li class="loginList"> Logout <i class="fa-solid fa-right-to-bracket"></i></li>
                </a>
            {% else %}
                <a href="{% url 'pagelogin' %}">
                    <li class="loginList">Login</li>
                </a>
            {% endif %}
            {% if  not user.is_authenticated %}
            <a href="{% url 'register' %}">
                <li class="loginList active">Register</li>
            </a>
            {% endif %}
        </ul>
        <div class="burger">
            <i class="fa-solid fa-xl fa-bars-staggered"></i>
        </div>
    </nav>
</header>