{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliotheque</title>
    <link rel="stylesheet" href="{% static 'style/global.css' %}" />
    <link rel="stylesheet" href="{% static 'style/dashboard/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'style/dashboard/livre.css' %}" />
    <link rel="stylesheet" href ="{% static 'style/dashboard/ajouter.css' %}" />
    <link rel="stylesheet" href ="{% static 'style/dashboard/detailLivre.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'style/fontawesome-free-6.5.2-web/css/all.min.css' %}" />
</head>
<body>

    <div class="countainer">
        {% include './layout/sidebar.html' %} 
        <div class="main">
          <div>
            {% include './layout/header.html' %} 
  
            <div class="content">
            
                {% block content %}{% endblock %}
         
            
            </div>
          </div>
        </div>
      </div>
      <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
 
   
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>