{% extends './base.html' %}
{% load static %}
{% block header %}
Liste Demande
{% endblock %}
{% block content %}

<div class="btndash">
 <a href="{% url 'page_ajout' %}"> les Demande d'emprunte   <i class="fa-solid fa-plus"></i></a>

</div>


 <div class="content">  
 <div style="overflow-x:auto;">
   <table>
     <tr>
       <th>Livre</th>
       <th>User</th>
       <th>date de demande </th>
       <th>Action</th>
       
     </tr>
     {% for demande in demandes %}
     <tr>
       
       <td>{{demande.exemplaire.livre.titre }}</td>
       <td>{{ demande.utilisateur.username }}</td>
     
       <td>{{ demande.date_demande }}</td>
     
         <td class="etat">  <a href="{% url 'accepter_demande_emprunt' demande.id_demande  %}"><span class="true">accepter</span></a>
     
         <td class="etat">  <a href="{% url 'refuser_demande_emprunt' demande.id_demande  %}"><span class="false">Refuser</span></a>
      
     
       <td class="action">
    
       </td>
     </tr>
     {% endfor %}
   </table>
 </div>    

</div>
</div>

{% endblock %}
