{% extends './base.html' %}
{% load static %}

{% block header %}
Detail Livre
{% endblock %}
{% block content %}


<div class="btndash">
  <a href="{% url 'edit_livre' livre.id %}">editer Livre    <i class="fa-solid fa-pen-to-square"></i></a>


 </div>
 
 <div class="livredetail">
  <div class="imglivre">
    <img src="{{livre.image_couverture.url}}" alt="{{livre.titre}}">

  </div>
   <div class="content">
      <p> Titre : <span> {{livre.titre}}</span> </p>
      <p>Auteur : <span> {{livre.auteur}} </span> </p>
      <p>ISBN : <span> {{livre.isbn}} </span> </p>
      <p>nb Exemplaire : <span> {{ livre.get_NbrExemple}}</span> </p>
      <p class="">etat : <span>{% if livre.exemplaires_livre.count > 1  %}disponsible{% else %}non disponsible{% endif %}</span> </p>
      <p> Description : <span>{{livre.description}}</span></p>
      <div class="etatchange">
    <div class="toggle-switch">
      {% if livre.exemplaires_livre.count > 1 %}
      <input class="toggle-input" id="toggle" type="checkbox"  checked >
      {% else %}
      <input class="toggle-input" id="toggle" type="checkbox"   >
      {% endif  %} 
      <label class="toggle-label" for="toggle"></label>
  
    </div>
    <h5>Pret</h5>
   </div>
     

   </div>

 </div>  
 
 <div class="exemplaire">
  <h2>
    Exemplaire {{livre.exemplaires_livre.count}}

  </h2>
  <div class="btndash">
    <a href="{% url 'ajouter_exemplaire' livre.id %}">ajouter Exemplaire   <i class="fa-solid fa-plus"></i></a>
  
   </div>
   </div>
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Code</th>
        <th>Disponibilite</th>
        <!--<th style="font-weight: bold;">code</th>-->
        <th style="font-weight: bold;">Supprimer</th>
        <th style="font-weight: bold;">Mis en horsPrêt</th>
       
        
      </tr>
     {% if exemplaires %}
     {% for exemplaire in exemplaires %}
      <tr>
        <td>{{exemplaire.id}}</td>
        <td> {{exemplaire.disponible}} </td>
        <!--<td>94</td>-->
        <td class="action">
          <!--<i class="fa-solid fa-pen-to-square"></i>-->
         <a href="{% url 'supprimer_exemplaire' livre.id %}" ><i class="fa-solid fa-trash"></i></a>
        </td>
        <td>
         <div class="toggle-switch">
        
          
          <a href="{% url 'mise_pret_horspret' exemplaire.id %}">
            <input class="toggle-input" id="" type="checkbox" >
            <label class="toggle-label" for="">    </label>
            </a>
        </div>
      </td>
      </tr>
      {% endfor %}
      {% endif %}

    </table>
  </div>
</div>
{% endblock %}
