{% extends './base.html' %}
{% load static %}

{% block header %}
Liste Emprunt
{% endblock %}

{% block content %}
{% if emprunts %}
<div style="overflow-x:auto;">
   <table>
     <tr>
       <th>Id Livre</th>
       <th>Id Empruntes</th>
       <th>Date Retour</th>
       <th>titre</th>
       <th>date Emprunte</th>
      
       <th>id exemplaire</th>
       <th>user</th>
       <th>Retournez livre</th>
     </tr>
     {% for emprunt in emprunts %}
     <tr>
       <td>{{emprunt.exemplaire.livre_id}}</td>
       <td>{{emprunt.id}}</td>
       <td>{{emprunt.date_retour}}</td>
       <td>  {{ emprunt.exemplaire.livre.titre|slice:":15" }}...</td>
       <td>{{emprunt.date_emprunt}}</td>
       <td>{{emprunt.exemplaire.id}}</td>
       <td>{{emprunt.utilisateur.username}}</td>
    
       
       <td class="action">
         <a href="{% url 'rendre_exemplaire' emprunt.id  %}"><i class="fa fa-square-check"></i></a>
       </td>
     </tr>
     {% endfor %}
   </table>
 </div> 
 {% else %}
 <p class="error_msg">Aucun résultat  trouvé.</p>



 

{% endif %}
{% endblock %}
