.input {
    border: 2px solid transparent;
    
    height: 2.5em;
    padding: 1.3em 1em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .input:hover,
  .input:focus {
    border: 1px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgba(74, 158, 236, 0.062);
    background-color: white;
  }

  form{
display: flex;
flex-direction: column;
gap: 20px;


padding: 20px;
  }
  input::placeholder{
    text-transform: capitalize;
  }
  form .inputs{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
   
  }
  .field{
    width: 100%;

    display: flex;
    flex: 1;
  }
   .field textarea{

    border: 2px solid transparent;
  width: 100%;

 
   
    height: 130px;
    padding: 20px;
    align-self: stretch;
    display: block;
    
 

  }

  .custum-file-upload {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }
  .btn button{
padding: 10px 20px;
color: var(--white);
background-color: var(--blue);
border: none;
border-radius: 100px;

  }
  .btn{
    display: flex;
    justify-content: end;
  }

.img_ajouter img{
    width: 200px;
    }
    @media (max-width: 480px) {

      .input {
        width: 100%;
      }
    }